<!DOCTYPE html>
<html>
	<head>
		<title>CollegiumV Voting</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue-indigo.min.css">
		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
		<link rel="stylesheet" type="text/css" href="{% static 'SimpleVote/sweetalert.css' %}">
		<script src="{% static 'SimpleVote/sweetalert.min.js' %}"></script>
		<style>
.block__list{
	display:block;
	list-style: none;
	margin:0;
	padding:0;
	min-height: 70px;
}
.block__list li{
	transition:.4s;
	cursor: move;
	display:list-item;
	background-color: #ffffff;
	padding:20px 40px;
	vertical-align:middle;
	height:30px;
	font-size:16px;
	background-origin:padding-box;
	position:relative;
	z-index:3;
}
.block__list li:hover{
	transition:.4s;
	background-color: #e3f2fd;
}
.block__list_words .sortable-ghost {
	color: #FEFEFF;
	background-color: #7ac0f8;
	opacity:1;
}
.voting-text-block {
	width:100%;
	padding:0;
}

.main-card-holder{
	width:90%;
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
}

.mdl-card{

	overflow:visible;
	margin-left:auto;
	margin-right: auto;
	margin-bottom:10px;
	margin-top:40px;
}
.main-card-small{
	max-width: 350px;
	width:40%;

}
.main-card-wide {
	max-width: 800px;
	width:90%;
}

.drag-handle{
	display:inline-block;
	vertical-align:middle;
	padding-right:10px;
}

.card-right{
	float:right;
}


.card-left{
	float:left;
}

#dragInstruction{
	text-align:center;
	position:static;
	height:70px;
	margin-bottom:-70px;
	font-size:16px;
	vertical-align:middle;
	z-index:2;
	line-height:70px;
}
		</style>
	</head>
	<body>
		<div class="mdl-layout mdl-js-layout">
			<header class="mdl-layout__header mdl-layout__header--fixed-header">
				<div class="mdl-layout__header-row">
					<!-- Title -->
                    <span class="mdl-layout-title">{{ organization }}</span>
					<!-- Add spacer, to align navigation to the right -->
					<div class="mdl-layout-spacer"></div>
					<!-- Navigation -->
					<nav class="mdl-navigation">
						<a class="mdl-navigation__link" href="">Vote</a>
						<a class="mdl-navigation__link" href="/vote/logout">Logout</a>
					</nav>
				</div>
			</header>
            <div class="mdl-layout__drawer">
                    <span class="mdl-layout-title">{{ organization }}</span>
                    <nav class="mdl-navigation">
                            <a class="mdl-navigation__link" href="">Vote</a>
                            <a class="mdl-navigation__link" href="/vote/logout">Logout</a>
                    </nav>
            </div><br/>
			<main class="mdl-layout__content">
			<div class="main-card-holder">
				<div class="main-card-wide mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title">
						<h2 class="mdl-card__title-text">Welcome</h2>
					</div>
                    <div class="mdl-card__supporting-text">{{ description }}</div>
				</div>
				<div class="main-card-small mdl-card mdl-shadow--2dp card-left">

					{% if allow_write_in %}
					<div class="mdl-card__menu">
						<button class="mdl-button mdl-button--icon mdl-js-button" id="add-button">
							<div class="material-icons" id="add-it">add</div>
						</button>
						<div class="mdl-tooltip" for="add-button">
							<b>Write-in a candidate</b>
						</div>
					</div>
					{% endif %}
					<div class="mdl-card__title">
						<h2 class="mdl-card__title-text">Candidates List</h2>
					</div>
					<div class="mdl-card__supporting-text voting-text-block">
						<ul id="sortable-first" class="block__list block__list_words">
							{% for candidate in candidate_list %}
							<li data-id="{{ candidate.id }}" class="list-group-item" id="candidate{{ candidate.id }}" class="ui-state-default"><span class="drag-handle"><i class="material-icons">reorder</i></span> {{ candidate.name }}</li>
							{% endfor %}
							{% if candidate_list %}

							{% else %}
							<p>No Candidates Available</p>
							{% endif %}
					</div>
				</div>

				<div class="main-card-small mdl-card mdl-shadow--2dp card-right">

					<div class="mdl-card__title">
						<h2 class="mdl-card__title-text">Vote</h2>
					</div>
					<div class="mdl-card__supporting-text voting-text-block">

						{% if candidate_list %}
						<div id="dragInstruction">Drag candidates from the left list</div>
						<ul id="sortable" class="block__list block__list_words">
							{% else %}
							<ul id="sortable" class="block__list block__list_words">
								<p>No Candidates Available</p>
								{% endif %}
								<!-- Accent-colored raised button with ripple -->
					</div>
					<div class="mdl-card__actions mdl-card--border">
						{% csrf_token %}
						<a id="justDoIt" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--disabled">
							Submit
						</a>
					</div>
				</div>
			</div>
			</main>
		</div>
	</body>
	<!-- CDNJS :: Sortable (https://cdnjs.com/) -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>

	<script>
var voteList = document.getElementById('sortable');

var candidateList = document.getElementById('sortable-first');

var sortable = Sortable.create(voteList, {
	animation: 200,
	group: {
		name: 'voteList',
		put: ['candidateList'],
		pull: ['candidateList'],
	},
	{% if ballot_size %}
	onAdd: function(evt){
		submitLink = document.getElementById("justDoIt");
		if(sortable.el.children.length > {{ ballot_size }}){
			submitLink.classList.add('mdl-button--disabled');
		} else {
            submitLink.classList.remove('mdl-button--disabled');
        }
	},
	onRemove: function(evt){
		submitLink = document.getElementById("justDoIt");
        if(sortable.el.children.length <= {{ ballot_size }}){
			submitLink.classList.remove('mdl-button--disabled');
		}
        if(sortable.el.children.length == 0){
            submitLink.classList.add('mdl-button--disabled');
        }
	},
	{% endif %}
});

var sortableCandidates = Sortable.create(candidateList, {
	animation: 200,
	group: {
		name: 'candidateList',
		put: ['voteList'],
		pull: ['voteList'],
	},
});

document.getElementById('justDoIt').onclick = function(){
	if(sortable.el.children.length > {{ ballot_size }} || sortable.el.children.length == 0){
		return false;
	}
	var sendThing = sortable.toArray().join(',');
	var xmlhttp;
	var params = "csrfmiddlewaretoken=" + document.getElementsByName("csrfmiddlewaretoken")[0].value + "&vote=" + sendThing;

	xmlhttp = new XMLHttpRequest();
	xmlhttp.onreadystatechange = function() {
		if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
			if(xmlhttp.status == 200){
				swal("Thanks!", "Your vote has been cast.", "success")
			}
			else if(xmlhttp.status == 423){
				swal("Vote already cast", "Your vote has already been cast.", "error");
			}
			else if(xmlhttp.status == 500){
				swal("Database Error", "Your vote could not be cast due to a database error.  Please contact cvadmins@collegiumv.org", "error");
			}
			else {
				sweetAlert("Oops...", "Your vote encountered an error.  " + xmlhttp.status, "error");
			}
		}
	}

	xmlhttp.open("POST", "/vote/cast", true);
	xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
	xmlhttp.send(params);
}

{% if allow_write_in %}
/*Prompt for write-in*/
document.getElementById('add-button').onclick = function(){
	swal({
		title: "Write in a candidate",
		text: "Provide your candidate's first and last name",
		type: "input",
		showCancelButton: true,
		closeOnConfirm: false,
		animation: "pop",
		inputPlaceholder: "John Smith"
	},
	function(inputValue){
		if (inputValue === false) return false;

		if (inputValue === "") {
			swal.showInputError("You need to write something!");
			return false
		}
		var sendThing = sortable.toArray().join(',');

		var xmlhttp;
		var params = "csrfmiddlewaretoken=" + document.getElementsByName("csrfmiddlewaretoken")[0].value + "&name=" + inputValue;

		xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
			if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
				if(xmlhttp.status == 200){
					swal("Added!", inputValue + " has been added to the Candidates List ", "success")
						candidateID = xmlhttp.response;
					document.getElementById('sortable-first').innerHTML = '<li data-id="'+candidateID+'" class="list-group-item" id="candidate'+candidateID+'" class="ui-state-default"><span class="drag-handle"><i class="material-icons">reorder</i></span> '+inputValue+'</li>'+document.getElementById('sortable-first').innerHTML;
				}
				else if(xmlhttp.status == 423){
					swal("Duplicate Entry", inputValue + " already exists in the Candidates List.", "error")
				}
				else if(xmlhttp.status == 418){		//teapot
					swal("Invalid Write-In", inputValue + " may not be written in.", "error")
				}
				else{
					swal("Oops...", "Your write-in encountered an error.  " + xmlhttp.status, "error");
				}
			}
		}

		xmlhttp.open("POST", "/vote/add", true);
		xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
		xmlhttp.send(params);

	});
}
{% endif %}
	</script>
</html>
